body{
    background-color: hsl(0, 0%, 95%);
    text-align: center;
}

.first-column{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    text-align: left;
    padding: 0  1.6cm 0 1.2cm;
    font-size: 13px;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}

.second-column{
    background-color: hsl(184, 100%, 22%);
    text-align: left;
    padding: 0  1.6cm 0 1.2cm;
    font-size: 13px;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    
}

.third-column{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    text-align: left;
    padding: 0  1.6cm 0 1.2cm;
    font-size: 13px;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}

table{
    width: 62%;
    height: 11.5cm;
    margin: 3.2cm auto 0 auto;
    
}

td{
    border-style: none;
    line-height: 1.4;
    padding: 3cm;
    margin: 0;
    
}

h1{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: white;
    font-size: 34px;
}

img{
    position: relative;
   
    padding: 0;
}

.btn-1 {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    color: #FFFFFF;
    
    font-size: 13px;
    font-weight: 100;
    padding: 11px;
    background-color: #E38826;
    border: solid #FFFFFF 2px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    width: 3.6cm;
    margin-top: 2.2cm;
    
 }

 .btn-2{
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    color: #FFFFFF;
    
    font-size: 13px;
    font-weight: 100;
    padding: 11px;
    background-color: #006970;
    border: solid #FFFFFF 2px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    width: 3.6cm;
    margin-top: 2.2cm;
 }

 .btn-3 {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    color: #FFFFFF;
    
    font-size: 13px;
    font-weight: 100;
    padding: 11px;
    background-color: #004241;
    border: solid #FFFFFF 2px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    width: 3.6cm;
    margin-top: 2.2cm;
 }